#p4 {
    #moon {
        top: 30%;
        right: 10%;
        line-height: 1.5;

        p:nth-of-type(1) {
            font-size: 45px;
            color: rgb(70, 121, 104);
            letter-spacing: 2px;
        }

        p:nth-of-type(2) {
            font-size: 32px;
            font-weight: 500;
            color: rgb(34, 93, 88);
        }

        .btn {
            color: rgb(34, 93, 88);
            border: 1px solid rgb(34, 93, 88);
            font-weight: 700;
        }
    }
}

@media (max-width:768px) {
    #p4 {
        #moon {
            top: 35%;
            right: 10%;
            line-height: 1.5;

            p:nth-of-type(1) {
                font-size: 24px;
                color: rgb(70, 121, 104);
                letter-spacing: 2px;
            }

            p:nth-of-type(2) {
                font-size: 16px;
                font-weight: 500;
                color: rgb(34, 93, 88);
                letter-spacing: 2px;
                margin-bottom: 16px;
            }

            .btn {
                color: rgb(34, 93, 88);
                border: 1px solid rgb(34, 93, 88);
                font-weight: 700;
                font-size: 10px;
                padding: 4px 10px;
            }
        }
    }
}

@media (max-width: 576px) {
    #p4 {
        display: none;
    }

    #m4 {

        display: block;

        #moon {
            top: 10%;
            left: 20%;

            p:nth-of-type(1) {
                font-size: 40px;
                font-weight: 500;
                color: rgb(34, 93, 88);
                letter-spacing: 2px;
            }

            p:nth-of-type(2) {
                font-size: 26px;
                font-weight: 500;
                color: rgb(34, 93, 88);
                line-height: 1.3;
                margin-top: 24px;
                margin-bottom: 48px;
            }

            .btn {
                color: rgb(4, 118, 80);
                border: 1px solid rgb(4, 118, 80);
                font-weight: 700;
                font-size: 18px;
                padding: 5px 15px;
            }
        }
    }
}

@media (max-width: 376px) {

    #m4 {

        #moon {
            top: 10%;
            left: 18%;

            p:nth-of-type(1) {
                font-size: 28px;
                font-weight: 500;
                color: rgb(34, 93, 88);
                letter-spacing: 2px;
            }

            p:nth-of-type(2) {
                font-size: 18px;
                font-weight: 500;
                color: rgb(34, 93, 88);
                line-height: 1.3;
                margin-bottom: 24px;
            }

            .btn {
                color: rgb(4, 118, 80);
                border: 1px solid rgb(4, 118, 80);
                font-weight: 700;
                font-size: 14px;
                padding: 5px 15px;
            }
        }
    }
}