.greenLine {
    background-color: rgb(0, 112, 74);
    height: 10px;
}

#starCard {
    position: fixed;
    top: 150px;
    right: 15px;
    z-index: 10;
    img{
        width: 130px;
        border-radius: 10px;
        box-shadow: 5px 5px 8px #928c8caa;
    }
}

header {
    background-color: rgb(246, 246, 246);
    padding: 16px 16px;

    h1 {
        margin-right: 20px;
    }

    a {
        color: #000;
        font-size: 18px;
    }

    #navbar {

        a {
            padding: 10px 20px;
        }

        a:hover {
            background-color: #000;
            color: #fff;
        }
    }

    #location {
        gap: 35px;

        a:hover {
            color: gray;
        }

        li .apron {
            width: 100%;
            max-width: 20px;
        }

        li .location {
            width: 100%;
            max-width: 20px;
        }
    }
}

@media (max-width: 768px) {

    #starCard {
        top: 135px;
        right: 5px;
    
        img{
            width: 110px;
        }
    }

    header {
        display: none;
    }

    #headerMobile {
        display: block;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;

        h1 {
            display: inline;
            margin-right: 0;
        }

        img {
            width: 100%;
            max-width: 60px;
        }

        .icon{
            gap: 20px;

            a{
                color: rgb(0, 112, 74);
            }
        }
    }
}

@media (max-width: 576px){
    #starCard {
        top: 130px;

        img{
            width: 110px;
        }
    }
}

@media (max-width: 376px) {
    #starCard {
        top: 130px;
        right: 5px;
    
        img{
            width: 80px;
        }
    }
}